/* General styling */
.body {
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcd7a5;
}
.header {
    background-color: #b5d2b5;
    color:white;
    padding: 1rem;
    text-align: left;

}
.logo {
    position: fixed;
    Height: auto;
    left: 100%;
    width:100%;
}
/* Navigation styling */
.nav {
    background-color: #333;
    position: relative;
}
.nav .menu-icon {
    display: none;
    font-size: 2rem;
    color: white;
    padding:14px 20px;
    cursor: pointer;
}
.nav ul {
    list-style: none;
    margin: 0px;
    padding:10px;
    display: flex;
    justify-content: flex-end;
}
.nav ul li {
    margin: 0;

}
nav ul li a, .nav-button {
    display: block;
    color: white;
    text-align: center;
    padding:14px 20px;
    text-decoration: none;
}
nav ul li a:hover, .nav-button:hover {
    background-color:  green;
}
.nav-button {
    background-color: #ff6347;
    border:none;
    cursor: pointer;
   
}
.nav-button:hover {
    background-color: #ff4500;
}
/* Responsive styling */
@media (max-width: 768px) {
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    nav ul li {
        width: 100%;
    }
    nav .menu-icon {
        display: block;
    }
    nav ul .show {
        display: flex;
    }
}
/* Description styling section */
.description-section {
    padding: 2rem;
    background-image:url('images/family.JPG'); /*path to your background image*/
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
}
.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Semi transparent background*/
    padding: 20px;
    border-radius: 8px;

}
.description-text {
    flex: 1;
    min-width: 300px;
    margin-right:2rem;
    font-size: 50px;
}
.description-image img {
    flex:1;
    min-width:300px;
}
.description-image img {
    width: 95%;
    height: auto;
    border-radius: 8px;
}
/* footer styling */
footer {
    background-color:#333;
    color: white;
    padding: 2rem 0;
    text-align: center;
} 
.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer.column h3 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;

}
.footer-column p, .footer-column a {
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
}
.footer-column a:hoover {
    text-decoration: underline;
}
/* Responsive footer styling */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin: 1rem 0;
    }
}